<?define name = "m365-online-msi-installer"?>
<?define exe = "setup.exe"?>
<?define config = "m365-config.xml"?>
<?define path = "D:\Downloads"?>
<?define version = "1.0.0"?>
<?define publisher = "letsdoautomation"?>
<?define guid = "01893605-3cd6-4f85-8f88-f1bcf16e5f8f"?>

<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
        <Package Name="$(var.name)" Manufacturer="$(var.publisher)" Version="$(var.version)"
                UpgradeCode="$(var.guid)" Scope="perMachine">

                <Media Id="1" Cabinet="setup.cab" EmbedCab="yes" />

                <Feature Id="InstallFeature" Title="Install Feature">
                        <ComponentRef Id="config" />
                        <ComponentRef Id="exe" />
                </Feature>

                <CustomAction Id="run_exe" Return="asyncWait" Execute="commit"
                        ExeCommand="/configure [INSTALLLOCATION]$(var.config)" HideTarget="yes" Impersonate="no"
                        FileRef="executable" />

                <InstallExecuteSequence>
                        <Custom Action="run_exe" After="InstallFiles"
                                Condition="NOT Installed AND NOT REMOVE" />
                </InstallExecuteSequence>

                <StandardDirectory Id="TempFolder">
                        <Directory Id="INSTALLLOCATION" Name="$(var.guid)">
                                <Component Id="config" DiskId="1">
                                        <File Id="config" Name="$(var.config)"
                                                Source="$(var.path)\$(var.config)" />
                                </Component>
                                <Component Id="exe" DiskId="1">
                                        <File Id="executable" Name="$(var.exe)"
                                                Source="$(var.path)\$(var.exe)" />
                                </Component>
                        </Directory>
                </StandardDirectory>
        </Package>
</Wix>