<?define name = "Modern Microsoft Teams"?>
<?define exe = "MSTeams-x64.msix"?>
<?define path = "D:\Downloads\"?>
<?define version = "1.0.0"?>
<?define publisher = "letsdoautomation"?>
<?define guid = "2c43e2e1-5c41-4b8c-9c77-eed2cac6d972"?>

<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
        <Package Name="$(var.name)" Manufacturer="$(var.publisher)" Version="$(var.version)"
                UpgradeCode="$(var.guid)" Scope="perMachine">

                <Media Id="1" Cabinet="setup.cab" EmbedCab="yes" />

                <Feature Id="InstallFeature" Title="Install Feature">
                        <ComponentRef Id="file" />
                </Feature>

                <Property Id="DISM" Value="C:\Windows\System32\dism.exe" />

                <CustomAction Id="install_msix" Return="asyncWait" Property="DISM" Execute="commit"
                        HideTarget="yes" Impersonate="no" 
                        ExeCommand="/Online /Add-ProvisionedAppxPackage /PackagePath:&quot;[INSTALLLOCATION]$(var.exe)&quot; /SkipLicense" />

                <InstallExecuteSequence>
                        <Custom Action="install_msix" After="InstallFiles"
                                Condition="NOT Installed AND NOT REMOVE" />
                </InstallExecuteSequence>

                <StandardDirectory Id="TempFolder">
                        <Directory Id="INSTALLLOCATION" Name="$(var.guid)">
                                <Component Id="file" DiskId="1">
                                        <File Id="executable" Name="$(var.exe)"
                                                Source="$(var.path)\$(var.exe)" />
                                </Component>
                        </Directory>
                </StandardDirectory>
        </Package>
</Wix>
